@{
    ViewData["Title"] = "Elevador";
}

<div>
    <div>
        <h4>Neste projeto, apliquei o conhecimento adquirido na jornada Microsoft, exercitando a lógica de programação e praticando os tipos de dados, controle de fluxo, laços de repetição e utilizando funções.</h4>
        <br></br>
        <h4>O projeto se trata do desenvolvimento de um software que tem como função o gerenciamento de um elevador.</h4>
        <br></br>
    </div>
   <h5>Construido totalmente com a linguagem de programação C#.</h5>
   <h5>Assim que o programa for iniciado será solicitado três entradas do úsuario, conforme abaixo:</h5>
   <br></br>
   <ul class="list">
    <li>Total de andares do prédio em que se localiza o elevador</li>
    <li>Capacidade total de pessoas que o elevador pode suportar</li>
    <li>Quantidade total de pessoas que já se encontram dentro do elevador</li>
   </ul>
   <br></br>
   <h5>O elevador contém as seguintes funções em sua composição: </h5>
   <br></br>
   <ol class="list">
     <li>Subir 1 andar</li>
     <li>Descer 1 andar</li>
     <li>Adicionar 1 pessoa ao elevador</li>
     <li>Remover 1 pessoa do elevador</li>
     <li>Parar elevador e sair</li>
   </ol>
   <br></br>
   <h5>Todas as funções são executadas um de cada vez, ou seja, a cada função executada é solicitado que o usúario informe ao programa qual será sua próxima ação/função execuando-as uma de cada vez.</h5>
   <br></br>
   <h5>Assim que o usúario selecionar a opção 5 (Parar elevador e sair), será questionado ao usúario se ele deseja usar o elevador novamente ou não. Caso o mesmo decida usar o elevador novamente o mesmo irá definir todas caracteriscas do elevador novamente e poder executar todas funções do mesmo.</h5>
</div>
